<div class="bg-shape bg-cover" style=" background-image:linear-gradient(180deg, rgba(30, 24, 53, 0.4) 0%, rgba(30, 24, 53, 0.4) 90.16%),
                               url(/assets/course-hero-img.jpg);
                               ">
  <div class="container">
    <div class="row">
      <div class="offset-lg-2 col-lg-8 col-md-12 col-12">
        <div class=" py-12 py-lg-15 text-light text-center">
          <h1 class="font-weight-bold text-white mb-0 display-4">
            <%= @course.name %>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pt-lg-12 pb-lg-12 py-6 ">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-12 mb-8">
        <div>
          <ul class="nav-pills-border nav nav-pills nav-justified mb-5 " id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active font-weight-bold"
                 id="pills-Overview-tab"
                 data-toggle="pill"
                 data-turbolinks=false

                 href="#pills-Overview" role="tab" aria-controls="pills-Overview" aria-selected="true">
              课程介绍</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold"
                 id="pills-Curriculum-tab"
                 data-turbolinks=false
                 data-toggle="pill" href="#pills-Curriculum" role="tab" aria-controls="pills-Curriculum" aria-selected="false">课程详情</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold"
                 id="pills-Coach-tab"
                 data-turbolinks=false
                 data-toggle="pill" href="#pills-Coach" role="tab" aria-controls="pills-Coach" aria-selected="false">导师介绍</a>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-Overview" role="tabpanel" aria-labelledby="pills-Overview-tab">
              <%= @course.desc.html_safe %>
            </div>
            <div class="tab-pane fade" id="pills-Curriculum" role="tabpanel" aria-labelledby="pills-Curriculum-tab">

              <div>
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="d-lg-flex justify-content-between align-items-center mb-2">
                      <div>
                        <h4 class="mb-1">Foundations of Leadership Coaching</h4>
                        <p class="font-14">Vestibulum eu ex consectetur aliquempor nisl.</p>
                      </div>
                      <div>
                        <h5 class="text-secondary text-uppercase">Week-1</h5>
                      </div>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item px-0">
                        <div class="d-md-flex justify-content-between align-items-center">

                          <h5 class="mb-0">What is Leadership development?</h5>

                          <span class="mb-0">1m 19s</span>

                        </div>
                      </li>
                      <li class="list-group-item px-0">
                        <div class="d-md-flex justify-content-between align-items-center">
                          <div>
                            <h5 class="mb-0">Declare your promise to your customers</h5>
                          </div>
                          <div>
                            <p class="mb-0">3m 28s</p>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item px-0">
                        <div class="d-md-flex justify-content-between align-items-center">

                          <h5 class="mb-0">Values &amp; Vision - Leading the Way</h5>

                          <span class="mb-0">2m 30s</span>

                        </div>
                      </li>
                      <li class="list-group-item px-0 pb-0">
                        <div class="d-md-flex justify-content-between align-items-center">

                          <h5 class="mb-0">Time &amp; Energy Management</h5>

                          <span class="mb-0">3m 30s</span>

                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="d-lg-flex justify-content-between align-items-center mb-2">
                      <div>
                        <h4 class="mb-1">Core Compentencies of Leadership</h4>
                        <p class="font-14">Praesent efficitur vitae purus tincidunt dapibus.</p>
                      </div>
                      <div>
                        <h5 class="text-secondary text-uppercase">Week-2</h5>
                      </div>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item px-0">
                        <div class="d-md-flex justify-content-between align-items-center">

                          <h5 class="mb-0">Everything start with Why</h5>

                          <span class="mb-0">1m 55s</span>

                        </div>
                      </li>
                      <li class="list-group-item px-0">
                        <div class="d-md-flex justify-content-between align-items-center">

                          <h5 class="mb-0">Strengthend your Leadership</h5>


                          <span class="mb-0">6m 14s</span>

                        </div>
                      </li>
                      <li class="list-group-item px-0">
                        <div class="d-md-flex justify-content-between align-items-center">

                          <h5 class="mb-0">Leading Change</h5>

                          <span class="mb-0">2m 58s</span>

                        </div>
                      </li>
                      <li class="list-group-item px-0 pb-0">
                        <div class="d-md-flex justify-content-between align-items-center">

                          <h5 class="mb-0">Being Health and Profitable</h5>


                          <span class="mb-0">1m 22s</span>

                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="d-lg-flex justify-content-between align-items-center mb-2">
                      <div>
                        <h4 class="mb-1">Building Professional Leadership</h4>
                        <p class="font-14">Aliquam ipsum lorem, tempus at lorem et, condimentum semper sem.</p>
                      </div>
                      <div>
                        <h5 class="text-secondary text-uppercase">Week-3</h5>
                      </div>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item px-0">
                        <div class="d-md-flex justify-content-between align-items-center">

                          <h5 class="mb-0">Your Company Culture starts with you</h5>

                          <span class="mb-0">1m 35s</span>

                        </div>
                      </li>
                      <li class="list-group-item px-0">
                        <div class="d-md-flex justify-content-between align-items-center">

                          <h5 class="mb-0">Everything start with Why</h5>

                          <span class="mb-0">5m 8s</span>

                        </div>
                      </li>
                      <li class="list-group-item px-0">
                        <div class="d-md-flex justify-content-between align-items-center">

                          <h5 class="mb-0">Strengthend your Leadership</h5>

                          <span class="mb-0">2m 5s</span>

                        </div>
                      </li>
                      <li class="list-group-item px-0">
                        <div class="d-md-flex justify-content-between align-items-center">

                          <h5 class="mb-0">Leading Change</h5>

                          <span class="mb-0">2m 15s</span>

                        </div>
                      </li>
                      <li class="list-group-item px-0 pb-0">
                        <div class="d-md-flex justify-content-between align-items-center">

                          <h5 class="mb-0">Being Health and Profitable</h5>

                          <span class="mb-0">2m 38s</span>

                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="d-lg-flex justify-content-between align-items-center mb-2">
                      <div>
                        <h4 class="mb-1">Practicum in Leadership Coaching</h4>
                        <p class="font-14">Aenean congue magna nunc, vitae ornare nisi sollicitudin at.</p>
                      </div>
                      <div>
                        <h5 class="text-secondary text-uppercase">Week-4</h5>
                      </div>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item px-0">
                        <div class="d-md-flex justify-content-between align-items-center">

                          <h5 class="mb-0">Strengthend your Leadership</h5>


                          <span class="mb-0">1m 35s</span>
                        </div>
                      </li>
                      <li class="list-group-item px-0">
                        <div class="d-md-flex justify-content-between align-items-center">

                          <h5 class="mb-0">Everything start with Why</h5>

                          <span class="mb-0">5m 8s</span>

                        </div>
                      </li>
                      <li class="list-group-item px-0">
                        <div class="d-md-flex justify-content-between align-items-center">

                          <h5 class="mb-0">Company Culture Improvement</h5>

                          <span class="mb-0">2m 5s</span>

                        </div>
                      </li>
                      <li class="list-group-item px-0">
                        <div class="d-md-flex justify-content-between align-items-center">

                          <h5 class="mb-0">Leading Change</h5>

                          <span class="mb-0">2m 15s</span>

                        </div>
                      </li>
                      <li class="list-group-item px-0 pb-0">
                        <div class="d-md-flex justify-content-between align-items-center">

                          <h5 class="mb-0">Summay</h5>

                          <span class="mb-0">2m 38s</span>

                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>











            </div>
            <div class="tab-pane fade" id="pills-Coach" role="tabpanel" aria-labelledby="pills-Coach-tab">
              <div>
                <div class="card">
                  <div class="card-body p-4">
                    <div class="media align-items-center mb-4">
                      <img src="/assets/avatar-9.png" alt="" class="rounded-circle mr-3">
                      <div class="media-body">
                        <h4 class="mb-1">Randall Williamson</h4>
                        <p class="mb-0">Leadership Speaker, Foremost Expert in the Leadership and Management </p>
                      </div>
                    </div>
                    <h5 class="mb-3">About Speaker Randall Williamson</h5>
                    <p>Randall Williamson is a Leadership keynote speaker, the CEO and founder of LeadCaoch. Morbi vehicula risus ante, vel ultricies ligula tincidunt quis. Morbi eros est, luctus nec porttitor a, dapibus nec lorem. </p>
                    <p class="mb-0">Integer quis aliquam eros. Phasellus tortor lacus, malesuada id varius eget, dignissim ac augue. Aenean congue magna nunc, vitae ornare nisi sollicitudin at.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar -->
      <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-12 mb-8">
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item py-3">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <div class="d-flex align-items-center">
                    <i class="fas fa-money-bill-alt mr-2 font-16 fa-fw text-muted"></i>
                    <h5 class="mb-0 font-weight-medium">课程费用</h5>
                  </div>
                </div>
                <div>
                  <h5 class="mb-0 text-primary font-weight-bold">
                    ￥<%= @course.price_cent / 100 %>
                  </h5>
                </div>
              </div>
            </li>
            <li class="list-group-item py-3">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <div class="d-flex align-items-center">
                    <i class="fas fa-user-tie mr-2 font-16 fa-fw text-muted"></i>
                    <h5 class="mb-0 font-weight-medium">导师</h5>
                  </div>
                </div>
                <div>
                  <h5 class="mb-0 text-dark">Randall Williamson</h5>
                </div>
              </div>
            </li>
            <li class="list-group-item py-3">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <div class="d-flex align-items-center">
                    <i class="fas fa-clock mr-2 font-16 fa-fw text-muted"></i>
                    <h5 class="mb-0 font-weight-medium">课时</h5>
                  </div>
                </div>
                <div>
                  <p class="mb-0 text-muted">
                  <%= @course.period / 7 %>周
                  </p>
                </div>
              </div>
            </li>
            <li class="list-group-item py-3">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <div class="d-flex align-items-center">
                    <i class="fas fa-file-alt mr-2 font-16 fa-fw text-muted"></i>
                    <h5 class="mb-0 font-weight-medium">
                      总课数
                    </h5>
                  </div>
                </div>
                <div>
                  <p class="mb-0 text-muted">
                  <%= @course.lessons_count %> 节</p>
                </div>
              </div>
            </li>
            <li class="list-group-item py-3">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <div class="d-flex align-items-center">
                    <i class="fas fa-user mr-2 font-16 fa-fw text-muted"></i>
                    <h5 class="mb-0 font-weight-medium">购课人数</h5>
                  </div>
                </div>
                <div>
                  <p class="mb-0 text-muted"><%= @course.students_count %>位同学</p>
                </div>
              </div>
            </li>
            <li class="list-group-item py-3">
              <%= link_to "我 要 学 习", @course&.task_catalog,
                class: "btn btn-secondary btn-block" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-12 mb-4">
        <h3>Related Courses</h3>
      </div>
    </div>

    <div class="row">
      <!-- course thumbnail -->
      <div class="col-xl-4 col-lg-4 col-md-6 col-12">
        <div class="card mb-4">
          <a href="#!">
            <img src="/assets/course-img-4.jpg" alt="" class="img-fluid w-100 border-top
                                               border-top-5 border-primary rounded-top">
          </a>
          <div class="card-body p-4">
            <a href="#!">
              <h4 class="mb-3">Leadership &amp; Management Development</h4>
            </a>
            <p class="font-13 font-weight-bold">
            <span class="mr-2">20 Lessons</span>
            <span class="mr-2">54 Students</span> <span>2 weeks</span>
            </p>
            <span class="font-weight-bold text-secondary h4 mb-0">$35.00</span>
          </div>
        </div>
      </div>
      <!-- course thumbnail -->
      <div class="col-xl-4 col-lg-4 col-md-6 col-12">
        <div class="card mb-4">
          <a href="#!">
            <img src="/assets/course-img-5.jpg" alt="" class="img-fluid w-100 border-top
                                               border-top-5 border-primary rounded-top">
          </a>
          <div class="card-body p-4">
            <a href="#!"><h4 class="mb-3">
                Transform your relationship with Coaching
              </h4></a>
              <p class="font-13 font-weight-bold">
              <span class="mr-2">12 Lessons</span>
              <span class="mr-2">12 Students</span> <span>2 weeks</span>
              </p>
              <span class="font-weight-bold text-secondary h4 mb-0">$65.00</span>
          </div>
        </div>
      </div>
      <!-- course thumbnail -->
      <div class="col-xl-4 col-lg-4 col-12 d-md-none d-lg-block">
        <div class="card mb-4">
          <a href="#!">
            <img src="/assets/course-img-6.jpg" alt="" class="img-fluid w-100 border-top
                                               border-top-5 border-primary rounded-top">
          </a>
          <div class="card-body p-4">
            <a href="#!"><h4 class="mb-3">
                Team Coaching Principles and Strategies
              </h4></a>
              <p class="font-13 font-weight-bold">
              <span class="mr-2">7 Lessons</span>
              <span class="mr-2">65 Students</span> <span>1 weeks</span>
              </p>
              <span class="font-weight-bold text-secondary h4 mb-0">$35.00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


