<div id="mmenu_screen" class="container-fluid d-flex">
  <div class="row gx-2 flex-fill">
    <div class="col-4 border bg-dark p-2 text-white rounded">
      <ul class="nav nav-pills nav-justified nav-pills-border bg-white" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab"
               data-toggle="pill"
               href="#pills-task"  role="tab"
               data-turbolinks=false
               aria-controls="home" aria-selected="true">
            任务
          </a>
        </li>
        <li class="nav-item fw-bold bg-white">
          <a class="nav-link" id="pills-hint-tab" data-toggle="pill"
               href="#pills-hint"  role="tab"
               data-turbolinks=false
               aria-controls="home" aria-selected="true">
            提示
          </a>
        </li>
         <li class="nav-item bg-white">
          <a class="nav-link" id="pills-solution-tab" data-toggle="pill"
               href="#pills-solution"  role="tab"
               data-turbolinks=false

               aria-controls="home" aria-selected="true">
            答案
          </a>
        </li>
        <li class="nav-item text-secondary"
          style="font-size: 1.25em; position: relative; top: 8px;" role="presentation">
          <span>
            <svg class="bi" width="1em" height="1em" fill="currentColor">
              <use xlink:href="/assets/bootstrap-icons.svg#alarm"></use>
            </svg>
          </span>
          <span id="timer" class="pt-4">
          </span>
        </li>
      </ul>
      <div class="tab-content m-4" id="myTabContent">
        <div class="tab-pane fade show active" id="pills-task" role="tabpanel" aria-labelledby="home-tab">
          <div class="container">
            <div class="row">
              <ul class="nav">
                <% @task_catalog.count&.times do |i|  %>
                  <li class="nav-item bg-info m-1 p-1 text-center rounded" style="width: 2rem;">
                    <%= i + 1 %>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="row">
              <button class="btn btn-primary btn-sm m-3" style="width: 10rem;">下一题</button>
            </div>
            <div class="row" style="font-size: 1.5rem;">
              <% if @current_task.text %>
                <%= Kramdown::Document.new(@current_task.text).to_html.html_safe %>
              <% end %>
            </div>
            <div class="row">
              <%= @current_task.subtext %>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-hint" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
              <%= @current_task.hint.present? ?  @current_task.hint : "No hint" %>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-solution" role="tabpanel"
           aria-labelledby="contact-tab">
            <div class="row" style="font-size: 2rem;">
              <% if @current_task.solution.present? %>
                <%= Kramdown::Document.new(@current_task.solution).to_html.html_safe %>
              <% end %>
            </div>
         </div>
      </div>
    </div>

    <div id="terminal" class="col-8 border bg-dark rounded p-2">
      <div class="row">
        <ul class="nav pl-2">
          <li class="nav-item">
            <a class="nav-link active text-muted" href="#">Terminal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-muted" href="#">+</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="popup-preloader" class="modal show preloader-popup zoom-anim-dialog"
   style="width: 200px;height:20px; z-index: 20000; position: absolute; text-align: center; left: 50%; top: 50%;margin-left:-100px;margin-top:-10px">  <!-- mfp-hide -->
  <div class="preloader__wrapper">
    <div class="preloader__desc">
      <div class="preloader__title">Loading...</div>
      <div class="preloader__text">正在准备环境，请耐心等待...</div>
      <div class="feedback" style="display: none;">
        <br>
        如果您遇到了任何问题，您可以和w@tgeek.cn联系, 由此带来的不便敬请谅解。
        <br>
        <br>

        <p>
        <label class="checkbox-container">
          <input type="checkbox" class="checkbox" id="check_no_issues" name="NO Issues">
          No issues faced
        </label>
        </p>
        <p>
        <label class="checkbox-container">
          <input type="checkbox" class="checkbox" id="check_ui_issues" name="UI Issues">
          User Interface Issues
        </label>
        </p>
        <p>
        <label class="checkbox-container">
          <input type="checkbox" class="checkbox" id="check_terminal_issues" name="Terminal Issues">
          Terminal Issues
        </label>
        </p>
        <p>
        <label class="checkbox-container">
          <input type="checkbox" class="checkbox" id="check_terminal_lag" name="Terminal Lag">
          Slow or Unresponsive Terminal
        </label>
        </p>
        <p>
        <label class="checkbox-container">
          <input type="checkbox" class="checkbox" id="check_content_issues" name="Terminal Lag">
          Content Issues
        </label>
        </p>
        <br>
        <p> Additional Details <br>
        <textarea class="input" name="" id="feedback_description" rows="5"></textarea>
        </p>
        <button id="btn-submit" class="btn-primary" onclick="submit_feedback()">Submit</button>
      </div>
    </div>

    <div>
      <div class="preloader__animation">
        <div class="preloader__item preloader__square1"></div>
        <div class="preloader__item preloader__square2"></div>
        <div class="preloader__item preloader__square3"></div>
        <div class="preloader__item preloader__square4"></div>
        <div class="preloader__item preloader__square5"></div>
        <div class="preloader__item preloader__square6"></div>
        <div class="preloader__item preloader__square7"></div>
        <div class="preloader__item preloader__square8"></div>
        <div class="preloader__item preloader__square9"></div>
      </div>
    </div>
  <div class="preloader__progress"></div>
  <button id="btn-retry" style="display: none;" class="btn-primary" onclick="reset_lab()">Try Again</button>
  <div id="load_time" class="header__item">Load Time: 00:06</div>
  </div>

</div>

<script type="text/javascript">
  $("#timer")
  .countdown("<%= 120.minutes.from_now %>", function(event) {
    $(this).text(
      event.strftime('%H:%M:%S')
    );
  });
</script>

<%= javascript_tag nonce: true do %>
  // Expose the main RVT namespace.
  this.RVT || (this.RVT = {});

  RVT.config = {
    terminal: {
      theme: <%= raw RVT.config.style.colors.to_json %>
    },

    transport: {
      url: {
        input: "<%= rvt.input_console_session_path(@console_session) %>",
        pendingOutput: "<%= rvt.pending_output_console_session_path(@console_session) %>",
        configuration: "<%= rvt.configuration_console_session_path(@console_session) %>"
      },

      uid: "<%= @console_session.uid %>"
    }
  };
<% end %>
<%= javascript_include_tag params[:controller] %>
