<!DOCTYPE html>
<html>
  <head>
    <title>Rails6Template</title>
    <meta charset="utf-8">
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <%= yield %>
    <p class="notice hide"><%= notice if notice %></p>
    <p class="alert hide"><%= alert if notice %></p>
  </body>
</html>
